In [18]:
import pandas as pd
from datasets import Dataset


df = pd.read_csv("./datasets/Amazon_Reviews.csv")
df.head()

,Name,Place,Job_type,Department,Date,Overall_rating,work_life_balance,skill_development,salary_and_benefits,job_security,career_growth,work_satisfaction,Likes,Dislikes
0,Software Development Engineer,Hyderabad/Secunderabad,Full Time,Software Development Department,8 Aug 2023,2.0,1.0,2.0,5.0,1.0,3.0,3.0,The office is great and you have best in indus...,Worst work life balance.\nThe managers have to...
1,Dls Case Specialist II HR Assistant,Hyderabad/Secunderabad,Full Time,HR Operations Department,8 Aug 2023,1.0,5.0,1.0,3.0,1.0,2.0,1.0,Good work life balance and team building exerc...,No job security. They will cut you out any-day...
2,Customer Support Associate (working remotely),NaN,Full Time,Customer Success Department,8 Aug 2023,1.0,2.0,1.0,2.0,1.0,2.0,3.0,"good about this company, provides virtual roles","this company is really bad , no job security ,..."
3,Sds Associate (working remotely),NaN,Full Time,Non Voice Department,7 Aug 2023,2.0,3.0,2.0,2.0,2.0,2.0,2.0,Leaves are there but more than policy it will ...,To be honest there are Many consumer team but ...
4,Software Developer,"Bengaluru/Bangalore, Karnataka",Full Time,Software Development Department,7 Aug 2023,4.0,3.0,4.0,5.0,3.0,4.0,3.0,Amazon has high standard when it comes to runn...,Management layer has lot of redundancies.

In [19]:
check_null = df['Dislikes'].isnull()
print(check_null)

0       False
1       False
2       False
3       False
4       False
        ...
9985    False
9986    False
9987    False
9988    False
9989    False
Name: Dislikes, Length: 9990, dtype: bool

In [20]:
likes = df['Likes'].to_list()
dislikes = df['Dislikes'].to_list()


sentiment_analysis_data = []
for i in range(0, len(likes)):
    sentiment_analysis_data.append({
        'text': likes[i],
        'label': 'Positive'
    })
    sentiment_analysis_data.append({
        'text': dislikes[i],
        'label': 'Negative'
    })

In [22]:
new_df = pd.DataFrame(sentiment_analysis_data)
new_df.head()

                                                text     label
0  The office is great and you have best in indus...  Positive
1  Worst work life balance.\nThe managers have to...  Negative
2  Good work life balance and team building exerc...  Positive
3  No job security. They will cut you out any-day...  Negative
4    good about this company, provides virtual roles  Positive

In [24]:
len(new_df)

19980

In [26]:
df_deduplicated = new_df.drop_duplicates(subset=['text'])
len(df_deduplicated)

20

In [23]:
import json


with open("./datasets/sentiment_analysis.jsonl", "a", encoding="utf-8")  as f:
    for entry in sentiment_analysis_data:
        json_line = json.dumps(entry, ensure_ascii=False)  # Convert dictionary to JSON string with non-ASCII characters
        f.write(json_line + '\n')  # Write each JSON string to a new line