In [1]:
import pandas as pd

df = pd.read_parquet('/teamspace/studios/this_studio/nlp-hr-feedback/feature_pipeline/feature_pipeline/datasource.parquet')
df.head()

                             Title  ...                                           Dislikes
0                Assistant Manager  ...  working culture,behavior, work life balance,jo...
1                        Executive  ...  Company is good but company owners are treatin...
2                    Sales Manager  ...  Work life\nNo business ethics \nNot career ori...
3  Assistant Manager , Pd,  Stores  ...  Reference basis appraisals done in current sce...
4           Regional Sales Manager  ...  Internal Politics\nUnfair division of business...

[5 rows x 14 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23818 entries, 0 to 86096
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                23818 non-null  object
 1   Place                23818 non-null  object
 2   Job_type             23818 non-null  object
 3   Department           23818 non-null  object
 4   Date                 23818 non-null  object
 5   Overall_rating       23818 non-null  float64
 6   work_life_balance    23818 non-null  float64
 7   skill_development    23818 non-null  float64
 8   salary_and_benefits  23818 non-null  float64
 9   job_security         23818 non-null  float64
 10  career_growth        23818 non-null  float64
 11  work_satisfaction    23818 non-null  float64
 12  Likes                23818 non-null  object
 13  Dislikes             23818 non-null  object
dtypes: float64(7), object(7)
memory usage: 2.7+ MB

In [3]:
# Group 1: Job Details
job_details_df = df[['Title', 'Place', 'Job_type', 'Department']]
# Group 2: Job Evaluation Metrics
job_evaluation_df = df[['Overall_rating', 'work_satisfaction', 'Likes', 'Dislikes']]
# Group 3: Work-Life Considerations
work_life_df = df[['work_life_balance', 'career_growth']]
# Group 4: Skill and Financial Aspects
financial_aspects_df = df[['skill_development', 'salary_and_benefits', 'job_security']]

In [4]:
# Creating timestamps for the data
timestamps = pd.date_range(
    end=pd.Timestamp.now(), 
    periods=len(df), 
    freq='D').to_frame(name="event_timestamp", index=False)

In [5]:
# Adding the timestamp column to each DataFrame
job_details_df = pd.concat(objs=[job_details_df, timestamps], axis=1)
job_evaluation_df = pd.concat(objs=[job_evaluation_df, timestamps], axis=1)
work_life_df = pd.concat(objs=[work_life_df, timestamps], axis=1)
financial_aspects_df = pd.concat(objs=[financial_aspects_df, timestamps], axis=1)

In [6]:
patient_ids = pd.DataFrame(data=list(range(len(df))), columns=["id"])

job_details_df = pd.concat(objs=[job_details_df, patient_ids], axis=1)
job_evaluation_df = pd.concat(objs=[job_evaluation_df, patient_ids], axis=1)
work_life_df = pd.concat(objs=[work_life_df, patient_ids], axis=1)
financial_aspects_df = pd.concat(objs=[financial_aspects_df, patient_ids], axis=1)

In [7]:
job_details_df.head()

                             Title  ...   id
0                Assistant Manager  ...  0.0
1                        Executive  ...  1.0
2                    Sales Manager  ...  2.0
3  Assistant Manager , Pd,  Stores  ...  3.0
4           Regional Sales Manager  ...  4.0

[5 rows x 6 columns]

In [9]:
data_path = "/teamspace/studios/this_studio/nlp-hr-feedback/feature_pipeline/feature_pipeline/data_store/feature_repo/data"
job_details_df.to_parquet(path=f"{data_path}/job_details.parquet")
job_evaluation_df.to_parquet(path=f"{data_path}/job_evaluation.parquet")
work_life_df.to_parquet(path=f"{data_path}/work_life.parquet")
financial_aspects_df.to_parquet(path=f"{data_path}/financial_aspects.parquet")

In [10]:
job_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36889 entries, 0 to 23816
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            23818 non-null  object
 1   Place            23818 non-null  object
 2   Job_type         23818 non-null  object
 3   Department       23818 non-null  object
 4   event_timestamp  23818 non-null  datetime64[ns]
 5   id               23818 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 2.0+ MB

In [11]:
job_evaluation_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36889 entries, 0 to 23816
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Overall_rating     23818 non-null  float64
 1   work_satisfaction  23818 non-null  float64
 2   Likes              23818 non-null  object
 3   Dislikes           23818 non-null  object
 4   event_timestamp    23818 non-null  datetime64[ns]
 5   id                 23818 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 2.0+ MB

In [12]:
work_life_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36889 entries, 0 to 23816
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   work_life_balance  23818 non-null  float64
 1   career_growth      23818 non-null  float64
 2   event_timestamp    23818 non-null  datetime64[ns]
 3   id                 23818 non-null  float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 1.4 MB

In [13]:
financial_aspects_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36889 entries, 0 to 23816
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   skill_development    23818 non-null  float64
 1   salary_and_benefits  23818 non-null  float64
 2   job_security         23818 non-null  float64
 3   event_timestamp      23818 non-null  datetime64[ns]
 4   id                   23818 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.7 MB